sonoff_worldmap/flows.json
[{"id":"f7f4fe0e.0d867","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"4bd05ad9.333ba4","type":"inject","z":"f7f4fe0e.0d867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["189cc24f.d086ae"]]},{"id":"ceb67ad0.9347b8","type":"inject","z":"f7f4fe0e.0d867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":180,"wires":[["3d3a4daa.b46182"]]},{"id":"f15e36e8.7f4a88","type":"inject","z":"f7f4fe0e.0d867","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":360,"wires":[["2ae7861f.574eba"]]},{"id":"189cc24f.d086ae","type":"function","z":"f7f4fe0e.0d867","name":"2","func":"msg.payload=[{\n    name:\"c\",\n    lat:37.615138119265296,\n    lon:126.91480866894,\n    icon:\"power-off\",\n    iconColor:\"black\",\n},\n{\n    name:\"d\",\n    lat:37.615138119265,\n    lon:126.91480866,\n    icon:\"power-on\",\n    iconColor:\"red\"\n}]\n;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[[]]},{"id":"3d3a4daa.b46182","type":"function","z":"f7f4fe0e.0d867","name":"1","func":"msg.payload={\n    name:\"X\",\n    lat:37.615138119265296,\n    lon:126.91480866894,\n    icon:\"power-off\",\n    iconColor:\"black\",\n};\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[[]]},{"id":"2ae7861f.574eba","type":"function","z":"f7f4fe0e.0d867","name":"findOne","func":"var newMsg={};\nnewMsg.collection='lamp';\nnewMsg.operation='findOne';\nnewMsg.payload={'chip' : 'a'};\nnewMsg.projection={'chip': 1,_id : 0};\nreturn newMsg;","outputs":1,"noerr":0,"x":490,"y":360,"wires":[["b8c394d7.f1bc98"]]},{"id":"8f300ff4.52d","type":"function","z":"f7f4fe0e.0d867","name":"findOneAndUpdate2","func":"var newMsg={};\nnewMsg.collection='lamp';\nnewMsg.operation='findOneAndUpdate';\nnewMsg.payload=[{'chip' : 'a'}, {$set:{'on' :msg.payload}}]\nnewMsg.projection={'chip' :1, '_id' :0};\nreturn newMsg;","outputs":1,"noerr":0,"x":680,"y":580,"wires":[["348d3fb6.de063"]]},{"id":"b8c394d7.f1bc98","type":"mongodb2 in","z":"f7f4fe0e.0d867","service":"_ext_","configNode":"87c40bab.e12548","name":"cho","collection":"","operation":"","x":680,"y":380,"wires":[["ae8c8ad2.84d9f8","40dc45f1.91099c"]]},{"id":"ae8c8ad2.84d9f8","type":"function","z":"f7f4fe0e.0d867","name":"3","func":"var newMsg={};\nvar on,color;\nif(msg.payload.on==1){\n    on=\"power-on\";\n    color=\"red\";\n}\nelse{\n    on=\"power-off\";\n    color=\"black\";\n}\nnewMsg.payload={\n    name:msg.payload.chip,\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:on,\n    iconColor:color,\n};\n\n\n\nreturn newMsg;","outputs":1,"noerr":0,"x":960,"y":380,"wires":[["708329e0.59b648"]]},{"id":"16386190.ae61ae","type":"function","z":"f7f4fe0e.0d867","name":"findOneAndUpdate","func":"var newMsg={};\nvar on;\nif(msg.payload.on==0)\n    on=1;\nelse\n    on=0;\nnewMsg.collection='lamp';\nnewMsg.operation='findOneAndUpdate';\nnewMsg.payload=[{'chip' : 'a'},{$set:{'on': on}}];\nnewMsg.projection={'chip':1,'_id':0};\nreturn newMsg;","outputs":1,"noerr":0,"x":1000,"y":500,"wires":[["348d3fb6.de063"]]},{"id":"40dc45f1.91099c","type":"function","z":"f7f4fe0e.0d867","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":260,"wires":[["dfba3f12.dca5d"]]},{"id":"dfba3f12.dca5d","type":"mqtt out","z":"f7f4fe0e.0d867","name":"","topic":"inTopic","qos":"","retain":"","broker":"33400f0d.c3d8c","x":1100,"y":240,"wires":[]},{"id":"708329e0.59b648","type":"worldmap","z":"f7f4fe0e.0d867","name":"","lat":"37.615138119265296","lon":"126.91480866894","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"none","showgrid":"false","path":"/worldmap","x":1120,"y":380,"wires":[]},{"id":"dd5663b8.b2cc3","type":"ui_switch","z":"f7f4fe0e.0d867","name":"","label":"switch","tooltip":"","group":"c6df9c22.297f4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":450,"y":600,"wires":[["8f300ff4.52d"]]},{"id":"c54baa35.6bf018","type":"mongodb2 in","z":"f7f4fe0e.0d867","service":"_ext_","configNode":"87c40bab.e12548","name":"","collection":"","operation":"","x":690,"y":460,"wires":[["16386190.ae61ae"]]},{"id":"348d3fb6.de063","type":"mongodb2 in","z":"f7f4fe0e.0d867","service":"_ext_","configNode":"87c40bab.e12548","name":"","collection":"","operation":"","x":1190,"y":500,"wires":[["2ae7861f.574eba"]]},{"id":"cb897017.3c66","type":"debug","z":"f7f4fe0e.0d867","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":200,"wires":[]},{"id":"341c3edb.115532","type":"worldmap in","z":"f7f4fe0e.0d867","name":"","path":"/worldmap","events":"all","x":200,"y":460,"wires":[["92f4a1c.d18076"]]},{"id":"92f4a1c.d18076","type":"function","z":"f7f4fe0e.0d867","name":"findOne","func":"var newMsg={};\nnewMsg.collection='lamp';\nnewMsg.operation='findOne';\nnewMsg.payload={'chip' : 'a'};\nnewMsg.projection={'chip': 1,_id : 0};\nreturn newMsg;","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["c54baa35.6bf018"]]},{"id":"87c40bab.e12548","type":"mongodb2","z":"","uri":"mongodb://18.223.182.224:27017/cho","name":"cho","options":"","parallelism":""},{"id":"33400f0d.c3d8c","type":"mqtt-broker","z":"","name":"AWS mqtt test","broker":"adh167sfy9bbp-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"fe6c7237.7503b","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6df9c22.297f4","type":"ui_group","z":"","name":"Group 1","tab":"51366f71.80ca8","order":1,"disp":true,"width":"6","collapse":false},{"id":"fe6c7237.7503b","type":"tls-config","z":"","name":"AWS mqtt test","cert":"","key":"","ca":"","certname":"0d9689d632-certificate.pem.crt","keyname":"0d9689d632-private.pem.key","caname":"mpttCA.pem","servername":"","verifyservercert":true},{"id":"51366f71.80ca8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]