sonoff_LED_ON_OFF/flows.json
[{"id":"f7f4fe0e.0d867","type":"tab","label":"플로우 1","disabled":false,"info":""},{"id":"705c9b02.cb9a24","type":"mqtt out","z":"f7f4fe0e.0d867","name":"","topic":"inTopic","qos":"","retain":"","broker":"33400f0d.c3d8c","x":640,"y":300,"wires":[]},{"id":"edc7ceba.f91bc","type":"ui_switch","z":"f7f4fe0e.0d867","name":"","label":"switch","tooltip":"","group":"c6df9c22.297f4","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":320,"y":320,"wires":[["96bc64d6.0f28a8"]]},{"id":"96bc64d6.0f28a8","type":"function","z":"f7f4fe0e.0d867","name":"","func":"msg.payload=\"{'on':\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":320,"wires":[["705c9b02.cb9a24"]]},{"id":"33400f0d.c3d8c","type":"mqtt-broker","z":"","name":"AWS mqtt test","broker":"adh167sfy9bbp-ats.iot.us-east-2.amazonaws.com","port":"8883","tls":"fe6c7237.7503b","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c6df9c22.297f4","type":"ui_group","name":"Group 1","tab":"51366f71.80ca8","order":1,"disp":true,"width":6},{"id":"fe6c7237.7503b","type":"tls-config","z":"","name":"AWS mqtt test","cert":"","key":"","ca":"","certname":"0d9689d632-certificate.pem.crt","keyname":"0d9689d632-private.pem.key","caname":"mpttCA.pem","servername":"","verifyservercert":true},{"id":"51366f71.80ca8","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]